<div class="formulario container d-flex mt-3">
  <form
    class="forms row d-flex g-4 col-11 col-md-8 con-lg-6 rounded"
    action="Contact"
    method="post"
    novalidate
  >
  {{#each arrErrors}}
  <p>{{msg}}</p>
  {{/each}}
    <div class="text-white text-center">
      <p class="mt-5"><h1>Escribinos tu consulta</h1></p>
    </div>
    <div class="col-md-5">
      <label for="name" class="form-label" hidden>Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        autofocus
        placeholder="Ingresa tu nombre"
      {{#if dataForm.name}} value="{{dataForm.name}}" {{/if}}/>
   </div>
    <div class="col-md-5">
      <label for="lastname" class="form-label" hidden>Apellido</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        placeholder="Ingresa tu apellido"
      {{#if dataForm.lastname}} value="{{dataForm.lastname}}" {{/if}}/>
    </div>
    <div class="col-md-5">
      <label for="usuario" class="form-label" hidden>Usuario</label>
      <input
        type="text"
        class="form-control"
        id="usuario"
        name="user"
        placeholder="Ingresa tu usuario"
      {{#if dataForm.user}} value="{{dataForm.user}}" {{/if}}/>
    </div>
    <div class="col-md-5">
      <label for="mail" class="form-label" hidden>Mail</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
          type="text"
          class="form-control"
          id="mail"
          name="mail"
          aria-describedby="inputGroupPrepend"
          placeholder="Ingresa tu mail"
        {{#if dataForm.mail}} value="{{dataForm.mail}}" {{/if}}/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container d-flex justify-content-center">
        <label for="mail" class="form-label" hidden>Ingrese mensaje</label>
        <textarea
          class="form-control"
          name="message"
          id="message"
          cols="60"
          rows="10"
          placeholder="Escribí tu mensaje aquí...."
        >{{dataForm.message}}</textarea>
      </div>
    </div>
    {{#if messageStatus}}
    <div class="container d-flex alert alert-secondary justify-content-center col-5" role="alert">
      {{messageStatus}}
    </div>
    {{/if}}
    <div class="container d-flex justify-content-center col-4">
      <button class="btn btn-primary mx-2 mb-4" type="submit">Enviar</button>
      <a href="/"><input type="button" value="Home" class="btn btn-secondary"></a>
    </div>
  </form>
  <div class="text-center">
 
</div>
</div>
